/*Table of Contents
1. imports
2. General rules
3. Mobile Rules
4. Large Screen Rules */

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');



/* 2. General Rule */
html {
  box-sizing: border-box;
 }
 
 *, *:before, *:after{
  box-sizing: inherit;
 }

body{
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Sansita', sans-serif; 
}

header {
  margin-bottom: 2em;
  background-color: #0e89d5
}


footer{
  margin-bottom: 70px;
  background-color: #0e89d5
 }


/* font, font properties*/


   h1 {
    clear: left;
  }

  h4 {
    color: white
  }

/*section properties*/

/*.tile {
  text-align: center;
}*/

#background {
  background-image: url("../weather/images/clear400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.local {
  text-align: center;
}

  .tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto; 
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 5px black;
  }

picture img {
  width: 75%;
}

  ul {
    list-style: none;
  }

  nav ul li { 
    display: inline-block; 
    list-style: none; 

  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: skyblue;
    margin: auto;
    width:100%;
    overflow: auto;
    white-space: nowrap;

  }

  header img {
    float: left;
    height: 2.3em;
  }

/* id tags*/

#site-brand {
  font-size: 2em;
  font-weight: 600;
}

#high {
  color: red;
}

#low {
  color: blue;
}


#scroll {
  overflow: auto;
  white-space: nowrap;
}

#curWeather {
  overflow: auto;
  white-space: nowrap;
}


#location ul li {
  display: inline-block;
}

 /*Mobile*/

/* @media screen and (max-width: 899px){ }*/


  

/********************************
* Large Screen Styles
* 1200px viewport / 18px font = 66.7em
********************************/

@media screen and (min-width: 900px){
  
  #background {
    background-image: url("../weather/images/clear1300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
  display: flex;
  flex-direction: row;
  }

  .tile {
    width: 30%;
  }

}